/*************************************************
    GENERICS
 *************************************************/
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end CSS RESET */

body{
    font-family: 'Commissioner', sans-serif;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

a:visited,
a{
    color: #6e6e6e;
}

li{
    list-style: none;
}

h4{
    color: white;
}




/*************************************************
    SHARED
 *************************************************/

/*************************************************
    UTILITIES
 *************************************************/

/* Containers */
.container {
    padding: 0 5%;
}
/* /Containers */

/* Flex */

.flex{
    display: flex;
}

.col-direction{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.justify-end{
    justify-content: end;
}

/* /Flex */

/*************************************************
    CONTENT
 *************************************************/
.web-app{
    height: 100vh;
    background-color: greenyellow;
}

/******** SIDE-BAR ********/

aside{
    background-color: black;
    height: calc(100vh - 60px);
    font-size: 0.8rem;
    font-weight: bold;
}

aside .row{
    display: flex;
    justify-content: center;
}

/* measures */

aside nav>*,
.personal>*:not(hr),
aside li{
    padding: 5px 0;
}

aside nav>figure{
    width: 30px;
    margin: 0 5px;
}

aside i{
    color: #6e6e6e;
    align-self: center;
    font-size: 1.2rem;
}

.fa-circle-arrow-down{
    font-size: 0.6rem;
}

/* measures */

aside nav>figure img:nth-child(2),
aside .row.playlist,
aside a{
    display: none;
}

aside hr{
    border: #6e6e6e 1px solid;
    width: 85%;
    margin: 0 auto;
    display: none;
}

/******** end SIDE-BAR ********/

/******** MAIN ********/

main{
    flex-grow: 1;
    position: relative;
    background-color: orchid;
    padding-top: 8vh;
    overflow-y: auto;
}

header{
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: rgba(75, 74, 74, 0.325);
}

main .column{
    width: calc(100% / 2);
}

.card{
    padding: 5%;
}
/******** end MAIN ********/

/******** PLAYER ********/

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    color: white;
}

/* footer>.row.flex>*{
    border: dashed red ;
} */

footer .column{
    flex-grow: 1;
}

footer .column.center{
    flex-grow: 2;
    align-items: center;
    justify-content: space-evenly;
}

footer .actions{
    width: 210px;
}

footer .column>.row{
    align-items: center;
}

.player-left .icons>*{
    display: block;
    padding: 1px 0;
    color: #6e6e6e;
    margin-left: 10px;
}

.player-right{
    font-size: 0.7rem;
}

/* measures */
.player-left figure{
    width: 40px;
}

.player-left,
.player-right{
    height: 100%;
}

.player-right{
    padding: 0 10px;
}

footer .column>.row>*{
    padding: 0 5px;
}

footer>.row.flex>*{
    height: 60px;
 }
/* /measures */


/* time-bar */
footer .time-bar{
    width: 100%;
    justify-content: center;
}

footer input{
    width: 90%
}
/* /time-bar */

/* end PLAYER */


/*************************************************
    MEDIA QUERY
 *************************************************/

 @media screen and (min-width: 630px) {
    
    aside nav>figure{
        width: 200px;
    }

    aside nav>figure img:nth-child(2),
    aside a,
    aside .row.playlist{
        display: inline-block;
    }

    aside nav>figure img:first-child{
        display: none;
    }

    aside .row{
        justify-content: flex-start;
        padding-left: 15px;
    }

    aside i{
        margin-right: 5px;
    }
    
    .fa-circle-arrow-down{
        margin-left: 5px;
    }

    aside a,
    aside li:nth-of-type(2){
        line-height: 1.2rem;
        vertical-align: middle;
    }

    aside li:nth-of-type(2)>*{
        vertical-align: middle;
    }

    .player-left,
    .player-right{
    width: 210px;
    }

    aside hr{
        display: block;
    }

    footer .column{
        flex-grow: 0;
    }
 }

 @media screen and (min-width: 900px) {
    
    main .column{
        width: calc(100% / 4);
    }

 }

 @media screen and (min-width: 1200px) {
    
    main .column{
        width: calc(100% / 5);
    }

 }

 @media screen and (max-height: 525px) {
    aside ul{
        display: none;
    }

 }

 /* DEBUG */

 .debug .height{
    min-height: 100px;
    background-color: blanchedalmond;
 }

 .debug .card{

    background-color: indianred;
 }

 .debug .column{
    border: dashed red;

 }

 .debug section{
    border: dashed rgb(0, 255, 13);
 }