/*************************************************
    GENERICS
 *************************************************/
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end CSS RESET */

/*************************************************
    SHARED
 *************************************************/

/*************************************************
    UTILITIES
 *************************************************/

/* Containers */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* /Containers */

/* Flex */

.flex{
    display: flex;
}

.col-direction{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

/* /Flex */

/*************************************************
    CONTENT
 *************************************************/
.web-app{
    height: 100vh;
    background-color: greenyellow;
}

/* SIDE-BAR */

aside{
    /* flex-basis: 100px; */
    background-color: black;
    height: 85vh;
}

aside>*{
    padding: 5px;
}

nav>*,
.personal>*{
    padding: 2px;
}

aside nav>figure{
    width: 30px;
}

aside nav>figure img:nth-child(2),
aside .row.playlist,
aside a{
    display: none;
}


aside i{
    color: #d2d2d2;
}

/* end SIDE-BAR */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 15vh;
    background-color: grey;
}

main{
    flex-grow: 1;
    position: relative;
    background-color: orchid;
}

header{
    position: absolute;
    top: 0;
    height: 15vh;
    width: 100%;
    background-color: rgba(75, 74, 74, 0.325);
}


/*************************************************
    MEDIA QUERY
 *************************************************/

 @media screen and (min-width: 600px) {
    
    aside nav>figure{
        width: 200px;
    }

    aside nav>figure img:nth-child(2),
    aside a,
    aside .row.playlist{
        display: inline-block;
    }

    aside nav>figure img:first-child{
        display: none;
    }


 }

 @media screen and (min-width: 900px) {
    
 }

 @media screen and (min-width: 1200px) {
    
 }

 /* DEBUG */

 .debug .square{
    width: 50px;
    height: 50px;
    background-color: brown;
 }