/*************************************************
    GENERICS
 *************************************************/
/* CSS RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* end CSS RESET */

img{
    width: 100%;
}

/*************************************************
    SHARED
 *************************************************/

/*************************************************
    UTILITIES
 *************************************************/

/* Containers */
.container {
    
}
/* /Containers */

/* Flex */

.flex{
    display: flex;
}

.col-direction{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.justify-end{
    justify-content: end;
}

/* /Flex */

/*************************************************
    CONTENT
 *************************************************/
.web-app{
    height: 100vh;
    background-color: greenyellow;
}

/* SIDE-BAR */

aside{
    /* flex-basis: 100px; */
    background-color: black;
    height: 92vh;
}

aside>*{
    padding: 5px;
}

nav>*,
.personal>*{
    padding: 2px;
}

aside nav>figure{
    width: 30px;
}

aside nav>figure img:nth-child(2),
aside .row.playlist,
aside a{
    display: none;
}


aside i{
    color: #d2d2d2;
}

/* end SIDE-BAR */

/* MAIN */

main{
    flex-grow: 1;
    position: relative;
    background-color: orchid;
    padding-top: 8vh;
    overflow-y: auto;
}

header{
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: rgba(75, 74, 74, 0.325);
}

main .column{
    width: calc(100% / 2);
}

.card{
    padding: 5%;
}
/* end MAIN */

/* PLAYER */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 8vh;
    background-color: grey;
}

footer>.row.flex>*{
    background-color: rgb(85, 85, 147);
    border: dashed red ;
}

footer .column.center{
    flex-grow: 1;
    background-color: rgb(131, 53, 53);
}

.player-left figure{
    width: 40px;
}

footer .column>.row{
    height: 100%;
}

footer .column>.row>*{
    padding: 0 5px;
}

footer .column>.row{
    align-items: center;
}

/* end PLAYER */


/*************************************************
    MEDIA QUERY
 *************************************************/

 @media screen and (min-width: 600px) {
    
    aside nav>figure{
        width: 200px;
    }

    aside nav>figure img:nth-child(2),
    aside a,
    aside .row.playlist{
        display: inline-block;
    }

    aside nav>figure img:first-child{
        display: none;
    }

    main .column{
        width: calc(100% / 3);
    }

    footer .column>.row{
    width: 210px;
    }


 }

 @media screen and (min-width: 900px) {
    
    main .column{
        width: calc(100% / 4);
    }

 }

 @media screen and (min-width: 1200px) {
    
    main .column{
        width: calc(100% / 5);
    }

 }

 /* DEBUG */

 .debug .height{
    min-height: 100px;
    background-color: blanchedalmond;
 }

 .debug footer>.row.flex>*{
    height: 8vh;
 }

 .debug .card{

    background-color: indianred;
 }

 .debug .column{
    border: dashed red;

 }

 .debug section{
    border: dashed rgb(0, 255, 13);
 }